tmp
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work

# IDE files
.idea/
.vscode/

# Build artifacts
bin/

# Environment files
.env

assets/js/main.min.js
